button {
    margin: 10px;
    background: red;
    color: white;
    border-radius: 10px;
}

button:hover {
  background:  #8b0000 !important;
}

input {
    margin: 10px 0;
}

form {
    border: 2px #8b0000 solid;
    padding: 10px;
}

.pad {
    padding: 10px;
}

.img {
    max-width: 150px;
}